.hero-section.about{
    padding: 160px 0 0 0;
    
}
.btn-wrapper {
    text-align: center;
    &> .btn-block{
        display: inline-block;
        &:first-child{
            margin-right: 20px;
        }
    }
}
.statistic{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    position: relative;
    bottom: 0;
    left: 0;
    transform: translateY(50%);
    margin-top: -105px;
    
    @media screen and (max-width: 1024px){           
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    }
    @media screen and (max-width: 800px){           
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        
    }
    @media screen and (max-width: 600px){           
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        transform: translateY(25%);
        padding-bottom: 180px;
        padding-top: 0;
    }
    &::after{
        content: '';
        position: absolute;
        width: 125px;
        height: 120px;
        background-image: url(../img/vector4.svg);
        top: 0;
        right: 0;
        transform: translate(30%, -70%);
        @media screen and (max-width: 768px){           
            display: none;
        }
    }
    &-block{
        border: 1.50px solid $black;
        border-radius: 0.5rem;
        box-shadow: 6px 6px 0 0 $vermillion;
        background: #fff;
        padding: 59px 94px;
        text-align: center;
        color: $davys-grey;
        z-index: 20;
        @media screen and (max-width: 1280px){           
            padding: 30px;
        }
        @media screen and (max-width: 768px){           
            padding: 20px;
        }
        .statistic-title{
            font-family: 'Montserrat Alternates Bold', sans-serif;
            font-size: 3.69rem;
            line-height: 1.2;
            letter-spacing: -0.02em;
            color: $vermillion;
            margin-bottom: 20px;
            & > span{
                color: $black;
            }
            @media screen and (max-width: 540px){           
                font-size: 2rem;
            }
        }
    }
}