.section.blue{
    background-color: $alice-blue;
}
.section#feedback-link{
    @media screen and (max-width: 540px){           
        padding-bottom: 160px;   
    }
}

.subtitle.sub-text{
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    &.feedback::before{
        content: '';
        position: absolute;
        top: -50%;
        left: 0;
        transform: translateX(-100%);
        background-image: url(../img/sparkle.svg);
        width: 81px;
        height: 81px;
    }
}
.subtitle-text{
    text-align: center;
    font-size: 1.44rem;
    color: $davys-grey;
    margin-bottom: 100px;
}

.slide-prev,
.slide-next{
    position: relative;
    top: 40px;
    width: 48px;
    height: 48px;
    border: 2.5px solid black;
    border-radius: 50%;
    cursor: pointer;
    &:hover{
        border: 2.5px solid $vermillion;
    }
}
.slide-next{
    left: 60px;
    top: -8px;
    & .arrow {
        position: absolute;
        top: 50%;
        right: 50%;
        width: 15px;
        height: 15px;
        transform: translate(25%, -50%) rotate(135deg);
        border-top: 2.5px solid black;
        border-left: 2.5px solid black;
    } 
}
.slide-prev{
    & .arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 15px;
        transform: translate(-50%, -50%) rotate(-45deg);
        border-top: 2.5px solid black;
        border-left: 2.5px solid black;
    }
}
.slide-next:hover .arrow,
.slide-prev:hover .arrow {
    border-color: $vermillion;
}

.swiper-slide{
    height: auto!important;
}

.quote.feedback-slider{
    background-color: transparent;
    width: 100%;
    padding: 0;
    position: relative;  
    
    .feedback-item{    
        width: min(95%, 570px);  
        padding: 132px 40px 40px;
        background-color: #fff;
        border-radius: 0.5rem;
        position: relative;
        @media screen and (max-width: 540px){           
            padding: 40px 40px 40px;    
         }
        .quote-text{
            font-size: 1.44rem;
            text-align: left;
            font-family: 'Montserrat Alternates', sans-serif;          
            @media screen and (max-width: 1024px){           
                font-size: 1rem;        
            }
            &::before{
                top: -92px;
                left: 0;
                transform: translate(0);
            }
        }
        .quote-author{
            justify-content: start;
        }
    }
}

